@charset "UTF-8";
/* Mise en page générale */
html, body {
  margin: 0px;
  padding: 0px;
  font-size: 1em;
  font-family: Roboto, sans-serif;
  width: 100%;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden;
}

@font-face {
  font-family: "Shrikhand";
  src: url("font/Shrikhand/Shrikhand-Regular.ttf") format(truetype);
}
.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 9999;
  visibility: hidden;
  animation: loader 3s linear;
}
.loader .spin {
  position: absolute;
  left: 48%;
  top: 40%;
  width: 40px;
  height: 40px;
  border-color: #9356DC;
  border-top-color: transparent;
  border-width: 4px;
  border-radius: 50%;
  animation: spin 5s linear;
}

@keyframes loader {
  0% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}
@keyframes spin {
  0% {
    visibility: visible;
    display: block;
    opacity: 100;
    transform: rotate(0deg);
    border-style: solid;
  }
  100% {
    visibility: hidden;
    background-color: transparent;
    display: none;
    opacity: 0;
    transform: rotate(1080deg);
    border-style: hidden;
    z-index: -9999;
  }
}
.home-header {
  text-align: center;
  padding-top: 1em;
}
.home-header > .home-heading-logo {
  box-shadow: 0px 5px 5px #DDDDDD;
}
.home-header > .home-heading-logo > .home-logo {
  margin-bottom: 1em;
  width: 45%;
  margin-bottom: 0.5em;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .home-header > .home-heading-logo > .home-logo {
    width: 25%;
  }
}
@media screen and (min-width: 1025px) {
  .home-header > .home-heading-logo > .home-logo {
    width: 25%;
  }
}
.home-header > .localisation-box {
  text-align: center;
  background-color: #EAEAEA;
  padding: 1em 0em;
  position: relative;
  z-index: -5;
}
.home-header > .localisation-box > .fa-map-marker-alt {
  font-size: 1em;
  margin-left: 3em;
}
.home-header > .localisation-box > .search-box {
  border-style: none;
  font-family: Roboto, sans-serif;
  background-color: #EAEAEA;
  margin-left: 0.5em;
  font-size: 1em;
  font-family: Roboto, sans-serif;
  margin-left: 0.5em;
}

.home-title {
  padding: 2em 2em;
  text-align: center;
  background-color: #f6f6f6;
  font-size: 1.2em;
}
.home-title > h2 {
  font-size: 0.7em;
  font-weight: 200;
  letter-spacing: 0.1em;
}

.cta {
  border: none;
  border-radius: 50px;
  margin: 1em;
  padding: 1em;
  background: linear-gradient(346deg, #9356dc 28%, #ff79da 78%);
  font-size: 1em;
  color: #fff;
  cursor: pointer;
  box-shadow: 4px 5px 10px #CECECD;
}
.cta.cta-restaurant {
  margin: 5% 23% 10% 23%;
  padding: 1em 2.5em;
  font-weight: bold;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .cta.cta-restaurant {
    margin: 5% 40% 5% 40%;
  }
}
@media screen and (min-width: 1025px) {
  .cta.cta-restaurant {
    margin: 5% 45% 5% 45%;
  }
}

.fonctionnement {
  padding: 2em 1em 3em 1em;
  display: block;
}
.fonctionnement h2 {
  margin-bottom: 1.5em;
}
@media screen and (min-width: 1025px) {
  .fonctionnement h2 {
    margin-left: 2em;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .fonctionnement h2 {
    margin-left: 2em;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .fonctionnement .fonctionnement-procedure-boxes {
    display: inline-flex;
    margin: auto 10% auto 10%;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1025px) {
  .fonctionnement .fonctionnement-procedure-boxes {
    display: flex;
  }
}
.fonctionnement .fonctionnement-procedure-boxes > .procedure-boxes {
  background-color: #f6f6f6;
  border-radius: 15px;
  padding: 0.5em;
  display: flex;
  margin: 2em auto;
  width: 16em;
  box-shadow: 4px 5px 10px #CECECD;
}
.fonctionnement .fonctionnement-procedure-boxes > .procedure-boxes:hover {
  cursor: pointer;
  background-color: rgba(147, 86, 220, 0.2);
}
.fonctionnement .fonctionnement-procedure-boxes > .procedure-boxes:hover .procedure-icons {
  color: #9356DC;
}
.fonctionnement .fonctionnement-procedure-boxes > .procedure-boxes > .procedure-numbers {
  position: absolute;
  border-radius: 100px;
  background-color: #9356DC;
  margin-top: 0.5em;
  margin-left: -1.5em;
}
.fonctionnement .fonctionnement-procedure-boxes > .procedure-boxes > .procedure-numbers > p {
  height: 0em;
  width: 1.9em;
  text-align: center;
  position: relative;
  top: -0.5em;
  color: #fff;
}
.fonctionnement .fonctionnement-procedure-boxes > .procedure-boxes > .procedure-icons {
  margin: 1em 1em 0em 1.5em;
  color: #7D7C7D;
}
.fonctionnement .fonctionnement-procedure-boxes > .procedure-boxes > .procedure-icons .fa-mobile-alt {
  margin-right: 0.3em;
}
.fonctionnement .fonctionnement-procedure-boxes > .procedure-boxes > .procedure-text {
  font-weight: 500;
}

#restaurant {
  display: block;
  padding: 2em 1em;
  background-color: #f6f6f6;
}
#restaurant h2 {
  margin-bottom: 1.5em;
}
@media screen and (min-width: 1025px) {
  #restaurant h2 {
    margin-left: 2em;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  #restaurant h2 {
    margin-left: 2em;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  #restaurant > .restaurant-box {
    text-align: center;
  }
}
@media screen and (min-width: 1025px) {
  #restaurant > .restaurant-box {
    text-align: center;
  }
}
#restaurant > .restaurant-box > .restaurant-choice {
  margin: 1em auto 2em auto;
  display: block;
  width: 21em;
  height: 16em;
  border-radius: 20px;
  box-shadow: 4px 5px 10px #CECECD;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  #restaurant > .restaurant-box > .restaurant-choice {
    display: inline-block;
    margin: 2%;
  }
}
@media screen and (min-width: 1025px) {
  #restaurant > .restaurant-box > .restaurant-choice {
    display: inline-block;
    margin: 1% 6%;
  }
}
#restaurant > .restaurant-box > .restaurant-choice > .img-home-restaurant {
  object-fit: cover;
  object-position: 50% 60%;
  width: 100%;
  height: 11em;
  border-radius: 20px 20px 0px 0px;
}
#restaurant > .restaurant-box > .restaurant-choice .restaurant-heading {
  margin: 1em 0.5em 0em 1em;
  font-weight: 700;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  #restaurant > .restaurant-box > .restaurant-choice .restaurant-heading {
    text-align: left;
  }
}
@media screen and (min-width: 1025px) {
  #restaurant > .restaurant-box > .restaurant-choice .restaurant-heading {
    text-align: left;
  }
}
#restaurant > .restaurant-box > .restaurant-choice .restaurant-subheading {
  margin: 0.3em 0.5em 0.5em 1em;
  font-weight: 300;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  #restaurant > .restaurant-box > .restaurant-choice .restaurant-subheading {
    text-align: left;
  }
}
@media screen and (min-width: 1025px) {
  #restaurant > .restaurant-box > .restaurant-choice .restaurant-subheading {
    text-align: left;
  }
}
#restaurant .img-home-restaurant {
  cursor: pointer;
}
#restaurant .menu-link {
  text-decoration: none;
  color: #000;
}
#restaurant .new-restaurant-box {
  position: relative;
  background-color: #99E2D0;
  padding: 0.1em 0.5em;
  font-size: 1em;
  border-radius: 3px;
  width: 5em;
  height: 2em;
  margin: -14em 0em 0em 14.5em;
  text-align: center;
}
#restaurant .new-restaurant-box p {
  margin: 0.5em;
  font-size: 1em;
  color: #038C65;
}
#restaurant .heart {
  position: relative;
  margin: -2.5em 0em 0em 18em;
  cursor: pointer;
}
#restaurant .heart.heart-box {
  margin: 9em 0em 0em 18em;
}
#restaurant .heart .fa-heart {
  font-size: 1.5em;
  cursor: pointer;
}
#restaurant .heart .fa-heart:hover {
  visibility: hidden;
}
#restaurant .heart .fa-heart .fas {
  font-size: 1em;
  cursor: pointer;
  position: absolute;
  left: 0em;
  color: transparent;
}
@media screen and (min-width: 1025px) {
  #restaurant .heart .fa-heart .fas {
    left: 0.5em;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  #restaurant .heart .fa-heart .fas {
    left: 0.5em;
  }
}
#restaurant .heart .fa-heart .fas:hover {
  background: -moz-linear-gradient(top, #9356dc 0%, #ff79da 100%);
  background: -webkit-linear-gradient(top, #9356dc 0%, #ff79da 100%);
  background: linear-gradient(to bottom, #9356dc 0%, #ff79da 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: color 2s;
  visibility: visible;
}

.footer {
  display: block;
  padding: 1em 4em;
  background-color: #353535;
  color: #fff;
}
.footer h3 {
  margin: 1.5em 11.5em 1.5em -2em;
  font-family: "Shrikhand";
}
@media screen and (min-width: 1025px) {
  .footer h3 {
    margin-left: 2em;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .footer h3 {
    margin-left: 2em;
  }
}
.footer .footer-menu ul {
  display: block;
}
@media screen and (min-width: 1025px) {
  .footer .footer-menu ul {
    display: flex;
    justify-content: flex-end;
  }
}
.footer .footer-menu .footer-list {
  list-style-type: none;
  margin: 1em 2em 1em -4.5em;
}
@media screen and (min-width: 1025px) {
  .footer .footer-menu .footer-list {
    margin: -3em 2em 1em 1em;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .footer .footer-menu .footer-list {
    margin-left: 0em;
  }
}
.footer .footer-menu .footer-list > .fa-utensils {
  margin-right: 1em;
}
.footer .footer-menu .footer-list > .fa-hands-helping {
  margin-right: 1em;
  font-size: 0.8em;
}

.restaurant-header {
  display: flex;
}
.restaurant-header i {
  width: 20%;
  font-size: 1.5em;
  padding: 1em 0em 1em 1em;
  text-decoration: none;
  color: #000;
}
@media screen and (min-width: 1025px) {
  .restaurant-header i {
    padding-top: 1.2em;
  }
}
.restaurant-header .restaurant-heading-logo {
  width: 70%;
  padding: 1.5em 1em 1em 4.5em;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .restaurant-header .restaurant-heading-logo {
    margin: auto 20% auto 24%;
  }
}
@media screen and (min-width: 1025px) {
  .restaurant-header .restaurant-heading-logo {
    margin: auto 33%;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    width: 30%;
  }
}
.restaurant-header .restaurant-heading-logo > .restaurant-logo {
  width: 60%;
}

.heading-restaurant-img {
  width: 100%;
}
.heading-restaurant-img.note-enchantee {
  height: 15em;
  object-fit: cover;
  object-position: 50% 81%;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .heading-restaurant-img.note-enchantee {
    height: 20em;
    object-position: 50% 75%;
  }
}
@media screen and (min-width: 1025px) {
  .heading-restaurant-img.note-enchantee {
    height: 30em;
    object-fit: cover;
    object-position: 50% 62%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .heading-restaurant-img {
    height: 24em;
    object-fit: cover;
    object-position: 50% 62%;
  }
}
@media screen and (min-width: 1025px) {
  .heading-restaurant-img {
    height: 30em;
    object-fit: cover;
    object-position: 50% 62%;
  }
}

.restaurant-menu {
  background-color: #f6f6f6;
  border-radius: 40px 40px 0px 0px;
  position: relative;
  padding: 1em 1em;
  margin: -4em auto 0 auto;
}
.restaurant-menu .heading-restaurant-menu {
  display: flex;
  justify-content: space-between;
}
.restaurant-menu .heading-restaurant-menu h2 {
  font-family: "Shrikhand";
  font-size: 2em;
  font-weight: 100;
  margin-left: 0.5em;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .restaurant-menu .heading-restaurant-menu h2 {
    margin-left: 1.5em;
  }
}
@media screen and (min-width: 1025px) {
  .restaurant-menu .heading-restaurant-menu h2 {
    margin-left: 2em;
    font-size: 3em;
  }
}
.restaurant-menu .heading-restaurant-menu .heart {
  position: relative;
  margin-top: 2em;
  margin-right: 1em;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .restaurant-menu .heading-restaurant-menu .heart {
    margin-right: 4em;
  }
}
@media screen and (min-width: 1025px) {
  .restaurant-menu .heading-restaurant-menu .heart {
    margin-right: 7em;
    margin-top: 4em;
  }
}
.restaurant-menu .heading-restaurant-menu .heart .fa-heart {
  font-size: 2em;
  cursor: pointer;
}
.restaurant-menu .heading-restaurant-menu .heart .fa-heart:hover {
  visibility: hidden;
}
.restaurant-menu .heading-restaurant-menu .heart .fa-heart .fas {
  font-size: 1em;
  cursor: pointer;
  position: absolute;
  left: 0em;
  color: transparent;
}
.restaurant-menu .heading-restaurant-menu .heart .fa-heart .fas:hover {
  background: -moz-linear-gradient(top, #9356dc 0%, #ff79da 100%);
  background: -webkit-linear-gradient(top, #9356dc 0%, #ff79da 100%);
  background: linear-gradient(to bottom, #9356dc 0%, #ff79da 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: color 2s;
  visibility: visible;
}
@media screen and (min-width: 1025px) {
  .restaurant-menu .responsive-menu-laptop {
    display: flex;
    margin-left: 3em;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .restaurant-menu .responsive-menu {
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 1025px) {
  .restaurant-menu .responsive-menu {
    display: flex;
    width: 100%;
  }
}
.restaurant-menu .menu {
  margin-bottom: 2em;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .restaurant-menu .menu {
    width: 100%;
  }
}
@media screen and (min-width: 1025px) {
  .restaurant-menu .menu {
    width: 100%;
  }
}
.restaurant-menu .menu h3 {
  text-transform: uppercase;
  font-weight: 200;
  font-size: 1.1em;
  padding-bottom: 0.3em;
  border-bottom: solid #99E2D0 0.2em;
  width: 15%;
  margin-left: 1em;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .restaurant-menu .menu h3 {
    margin-left: 3em;
  }
}
.restaurant-menu .menu .submenu {
  display: flex;
  justify-content: space-between;
  background-color: #FFFFFF;
  margin: 1em auto;
  border-radius: 1rem;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 90%;
  height: 5em;
  opacity: 0;
  box-shadow: 4px 5px 10px #CECECD;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .restaurant-menu .menu .submenu {
    width: 80%;
  }
}
.restaurant-menu .menu .submenu:nth-child(1) {
  animation: menu 1s 800ms forwards;
}
.restaurant-menu .menu .submenu:nth-child(2) {
  animation: menu 1s 1600ms forwards;
}
.restaurant-menu .menu .submenu:nth-child(3) {
  animation: menu 1s 2400ms forwards;
}
.restaurant-menu .menu .submenu:nth-child(4) {
  animation: menu 1s 3200ms forwards;
}
.restaurant-menu .menu .submenu:nth-child(5) {
  animation: menu 1s 4000ms forwards;
}
.restaurant-menu .menu .submenu_detail {
  width: 75%;
  margin: 0.5em 0em 0.5em 1em;
  transform: scaleX(1);
  transform-origin: left;
  justify-content: space-between;
  transition: width 300ms 100ms linear;
}
.restaurant-menu .menu .submenu_detail .submenu_title {
  font-weight: 600;
  font-size: 1.1rem;
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.restaurant-menu .menu .submenu_detail p {
  font-size: 0.95em;
  font-weight: 200;
  margin-top: 0.5em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.restaurant-menu .menu .submenu_prix {
  align-self: flex-end;
  font-weight: 700;
  position: absolute;
  right: 1em;
  bottom: 1em;
  transform-origin: right;
  transition: transform 300ms 100ms linear;
}
.restaurant-menu .menu .submenu .check-rotate-animation {
  display: flex;
  background-color: #99E2D0;
  width: 70px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 300ms 100ms linear;
}
.restaurant-menu .menu .submenu .check-rotate-animation .rotate-icon-animation {
  color: #FFFFFF;
  font-size: 1.6rem;
  margin: auto;
  transform: rotate(0deg);
  transition: transform 300ms 100ms linear;
}
.restaurant-menu .menu .submenu:hover {
  cursor: pointer;
}
.restaurant-menu .menu .submenu:hover .submenu-detail {
  width: 30%;
}
.restaurant-menu .menu .submenu:hover .submenu-detail .submenu_title, .restaurant-menu .menu .submenu:hover .submenu-detail p {
  width: 30%;
}
.restaurant-menu .menu .submenu:hover .check-rotate-animation {
  transform: scaleX(1);
}
.restaurant-menu .menu .submenu:hover .rotate-icon-animation {
  transform: rotate(-360deg);
}
.restaurant-menu .menu .submenu:hover .submenu_prix {
  transform: translateX(-70px);
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .restaurant-menu .menu-dessert {
    display: flex;
    flex-direction: column;
    margin: auto auto;
    width: 90%;
  }
}
@media screen and (min-width: 1025px) {
  .restaurant-menu .menu-dessert {
    width: 53%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .restaurant-menu .menu-dessert h3 {
    margin: auto 66% 1.5% 28%;
    width: 10%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .restaurant-menu .menu-dessert .submenu-dessert {
    width: 45%;
    margin: 0.5em auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .restaurant-menu .menu-dessert .submenu-dessert .submenu-detail {
    width: 65%;
  }
}

@keyframes menu {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/*# sourceMappingURL=style.css.map */
