/* Mise en page générale */
html, body {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
    font-family: Roboto, sans-serif;
    width: 100%;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    overflow-x: hidden;
}

// Breakpoints
$breakpoints: ( mobile: 767px, min-tablette: 768px, max-tablette: 1024px, laptop: 1025px );

// Variables de couleurs
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-localization: #EAEAEA;
$color-background: #f6f6f6;
$color-footer: #353535;
$color-hover: #F4EDFF;
$color-background-menu: #FFFFFF;
// linear-gradient(346deg, rgba(147,86,220,1) 28%, rgba(255,121,218,1) 78%);

@font-face {
    font-family: 'Shrikhand';
    src: url('font/Shrikhand/Shrikhand-Regular.ttf') format(truetype);
}
// mixin tablette-only
@mixin tablette-only {
    @media screen and (min-width:map-get($breakpoints, min-tablette)) and (max-width:map-get($breakpoints, max-tablette)){
        @content;
    }
}

// mixin tablette-only
@mixin laptop-only {
    @media screen and (min-width:map-get($breakpoints, laptop)){
        @content;
    }
}

//mixin box-shadow
@mixin card-shadow {
    box-shadow: 4px 5px 10px #CECECD;
}

// Header Page d'acceuil
.home-header{

    text-align: center;
    padding-top: 1em;

    &>.home-heading-logo{
            box-shadow: 0px 5px 5px #DDDDDD;
        
        &>.home-logo{
            margin-bottom: 1em;
            width: 45%;
            margin-bottom: 0.5em;

            @include tablette-only(){
                width: 25%;
            }

            @include laptop-only(){
                width: 25%;
            }
        }
    }

    &>.localisation-box{
        text-align: center;
        background-color: #EAEAEA;
        padding: 1em 0em;
        position: relative;
        z-index: -5;

      &>.fa-map-marker-alt{ 
            font-size: 1em;
            margin-left: 3em;
        }  


      &>.search-box{
          border-style: none;
          font-family: Roboto, sans-serif;
          background-color: #EAEAEA;
          margin-left: 0.5em;

            font-size: 1em;
            font-family: Roboto, sans-serif;
            margin-left: 0.5em;
      }
    }
}

// Grand titre et CTA
.home-title{
    padding: 2em 2em;
    text-align: center;
    background-color: $color-background;
    font-size: 1.2em;
    &>h2{
        font-size: 0.7em;
        font-weight: 200;
        letter-spacing: 0.1em;
    }
}

// Boutons CTA - Explorer & Commande
.cta{
    border: none;
    border-radius: 50px;
    margin: 1em;
    padding: 1em;
    background: linear-gradient(346deg, rgba(147,86,220,1) 28%, rgba(255,121,218,1) 78%);
    font-size: 1em;
    color: #fff;
    cursor: pointer;
    @include card-shadow();

    &.cta-restaurant{
        margin: 0em 7em 2em 7em;
        padding: 1em 2.5em;
        font-weight: bold;

        @include tablette-only(){
            margin: 0 40% 5% 40%;
        }
    }
}

// Fonctionnement
.fonctionnement{
    padding: 2em 1em 3em 1em;
    display: block;

    h2{
        margin-bottom: 1.5em;

        @include laptop-only(){
            margin-left: 2em;
        }

        @include tablette-only(){
            margin-left: 2em;
        }
    }

    .fonctionnement-procedure-boxes{

        @include tablette-only(){
            display: inline-flex;
            margin: auto 10% auto 10%;
            flex-wrap: wrap;
        }

        @include laptop-only(){
            display: flex;
        }

        &>.procedure-boxes{
            background-color: $color-background;
            border-radius: 15px;
            padding: 0.5em;
            display: flex;
            margin: 2em auto;
            width: 16em;
            @include card-shadow();

            &>.procedure-numbers{
                position: absolute;
                border-radius: 100px;
                background-color: $color-primary;
                margin-top: 0.5em;
                margin-left: -1.5em;

                &>p{
                    height: 0em;
                    width: 1.9em;
                    text-align: center;
                    position: relative;
                    top: -0.5em;
                    color: #fff;
                }
        }

        &>.procedure-icons{
            margin: 1em 1em 0em 1.5em;
            color: #7D7C7D;
            .fa-mobile-alt{
                margin-right: 0.3em;
            }
        }

        &>.procedure-text{
            font-weight: 500;
        }
    }
    }
}

// Restaurants
#restaurant{
    display: block;
    padding: 2em 1em;
    background-color: $color-background;
    
    h2{
        margin-bottom: 1.5em;

        @include laptop-only(){
            margin-left: 2em;
        }

        @include tablette-only(){
            margin-left: 2em;
        }
    }

    &>.restaurant-box{
        @include tablette-only(){
            text-align: center;
        }

        @include laptop-only(){
            text-align: center;
        }

        &>.restaurant-choice{
        margin: 1em auto 2em auto;
        display: block;
        width: 21em;
        height: 16em;
        border-radius: 20px;
        @include card-shadow();

        @include tablette-only(){
            display: inline-block;
            margin: 2%;
        }

        @include laptop-only(){
            display: inline-block;
            margin: 1% 5%;
        }
        
            &>.img-home-restaurant{
                object-fit: cover;
                object-position: 50% 60%;
                width: 100%;
                height: 11em;
                border-radius: 20px 20px 0px 0px;
            }

            .restaurant-heading{
                margin: 1em 0.5em 0em 1em;
                font-weight: 700;

                @include tablette-only(){
                    text-align: left;
                }

                @include laptop-only(){
                    text-align: left;
                }
                
            }

            .restaurant-subheading{
                margin: 0.3em 0.5em 0.5em 1em;
                font-weight: 300;
                
                @include tablette-only(){
                    text-align: left;
                }

                @include laptop-only(){
                    text-align: left;
                }
            }
        }
    }

    

    .img-home-restaurant{
        cursor: pointer;
    }

    .menu-link{
        text-decoration: none;
        color: #000;
    }

    .new-restaurant-box{
        position: relative;
        background-color: $color-tertiary;
        padding: 0.1em 0.5em;
        font-size: 1em;
        border-radius: 3px;
        width: 5em;
        height: 2em;
        margin: -14em 0em 0em 14.5em;
        text-align: center;

        p{
            margin: 0.5em;
            font-size: 1em;
            color: #038C65;
        }
    }

    .heart{
        position: relative;
        margin: -2.5em 0em 0em 18em;

        &.heart-box{
            margin: 9em 0em 0em 18em;
        }

        .fa-heart{
            font-size: 1.5em;
        }
    }

}

// Footer
.footer{
    display: block;
    padding: 1em 4em;
    background-color: $color-footer;
    color: #fff;

    h3{
        margin: 1.5em 11.5em 1.5em -2em;
        font-family: 'Shrikhand';

        @include laptop-only(){
            margin-left: 2em;
        }

        @include tablette-only(){
            margin-left: 2em;
        }
    }

    .footer-menu{

        ul{
            display: block;

            @include laptop-only(){
                display: flex;
                justify-content: flex-end;
            }

            
        }

        .footer-list{
            list-style-type: none;
            margin: 1em 2em 1em -4.5em;

            @include laptop-only(){
                margin: -3em 2em 1em 1em;
            }

            @include tablette-only(){
                margin-left: 0em;
            }

            &>.fa-utensils{
                margin-right: 1em;
            }

            &>.fa-hands-helping{
                margin-right: 1em;
                font-size: 0.8em;
            }
        }
    }
    
}

// Page restaurant

// Header
.restaurant-header{
    display: flex;

    i{
        width: 20%;
        font-size: 1.5em;
        padding: 1em 0em 1em 1em;
        text-decoration: none;
        color: #000;

        @include laptop-only(){
            padding-top: 1.2em;
        }
    }

    .restaurant-heading-logo{
        width: 40%;
        padding: 1.5em 1em 1em 4.5em;

        @include tablette-only(){
            text-align: center;
            margin:  auto 19%;
        }

        @include laptop-only(){
            margin: auto 33%;
            text-align: center;
            padding-left: 0;
            padding-right: 0;
            width: 30%;
        }

        &>.restaurant-logo{
            width: 60%;

        }
    }
}

// Photo background
.heading-restaurant-img{
    width: 100%;

    @include tablette-only(){
        height: 24em;
        object-fit: cover;
        object-position: 50% 62%;
    }

    @include laptop-only(){
        height: 30em;
        object-fit: cover;
        object-position: 50% 62%;
    }
}

// Section Menu
.restaurant-menu{
    background-color: $color-background;
    border-radius: 40px 40px 0px 0px;
    position: relative;
    padding: 1em 1em;
    margin: -4em auto 0 auto;

    .heading-restaurant-menu{
        display: flex;
        justify-content: space-between;

        h2{
            font-family: 'Shrikhand';
            font-size: 2em;
            font-weight: 100;
            margin-left: 0.5em;

            @include tablette-only(){
                margin-left: 1.5em;
            }

            @include laptop-only(){
                margin-left: 2em;
                font-size: 3em;
            }

        }

        .heart{
            position: relative;
            margin-top: 2em;
            margin-right: 1em;

            @include tablette-only(){
                margin-right: 4em;
            }
            @include laptop-only(){
                margin-right: 7em;
                margin-top: 4em;
            }

            .fa-heart{
                font-size: 2em;
            }
        }
    }

    .responsive-menu-laptop{
        @include laptop-only(){
            display: flex;
        }
    }

    .responsive-menu{
        @include tablette-only(){
            display: flex;
            justify-content: center;
        }
        @include laptop-only(){
            display: flex;
            width: 100%;
        }
    }

    .menu{
        margin-bottom: 3em;
        
        @include tablette-only(){
            width: 90%;
        }

        @include laptop-only(){
            width: 100%;
        }

        h3{
            text-transform: uppercase;
            font-weight: 200;
            font-size: 1.1em;
            padding-bottom: 0.3em;
            border-bottom: solid $color-tertiary 0.2em;
            width: 15%;
            margin-left: 1em;            
        }

        .submenu{
            background-color: $color-background-menu;
            border-radius: 15px;
            padding: 0em 1em;
            margin: 1.5em auto;
            width: 85%;
            @include card-shadow();

            @include tablette-only(){
                width: 80%;
            }
            
            h4{
                padding-top: 1em;
                margin: 1em 0em 0em 0em;
                font-weight: 600;
                font-size: 1.1em;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;

                @include tablette-only(){
                    margin-top: 0em;
                }
            }

            .submenu-detail{
                display: flex;
                justify-content: space-between;

                p{
                    font-size: 0.95em;
                    font-weight: 200;
                    margin-top: 0.5em;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                .submenu-prix{
                    text-overflow: clip;
                    font-weight: 600;
                    margin-right: 0.5em;
                }
            }
        }
        
    }

    .menu-dessert{
        @include tablette-only(){
            display: flex;
            margin: auto auto;
            width: 90%;
        }

        @include laptop-only(){
            margin-top: 3em;;
            width: 53%;
        }

        .submenu-dessert{
            @include tablette-only(){
                width: 30%;
                // height: 5em;
                margin: 1% 1% 5% auto;
            }
        }
        
    }

    h3{
        text-transform: uppercase;
        font-weight: 200;
        font-size: 1.1em;
        padding-bottom: 0.3em;
        border-bottom: solid $color-tertiary 0.2em;
        width: 15%;
        margin-left: 1em;
    }

    .h3-dessert{
        @include laptop-only(){
            position: absolute;
            top: 9.42em;
            left: 52.5em;
            width: 5%;  
        }
    }

}