@charset "UTF-8";
/* Mise en page générale */
html, body {
  margin: 0px;
  padding: 0px;
  font-size: 1em;
  font-family: Roboto, sans-serif;
  width: 100%;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden;
}

@font-face {
  font-family: 'Shrikhand';
  src: url("font/Shrikhand/Shrikhand-Regular.ttf") format(truetype);
}

.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 9999;
  visibility: hidden;
  -webkit-animation: loader 3s linear;
          animation: loader 3s linear;
}

.loader .spin {
  position: absolute;
  left: 48%;
  top: 40%;
  width: 40px;
  height: 40px;
  border-color: #9356DC;
  border-top-color: transparent;
  border-width: 4px;
  border-radius: 50%;
  -webkit-animation: spin 3s linear;
          animation: spin 3s linear;
}

@-webkit-keyframes loader {
  0% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}

@keyframes loader {
  0% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}

@-webkit-keyframes spin {
  0% {
    visibility: visible;
    display: block;
    opacity: 100;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    border-style: solid;
  }
  100% {
    visibility: hidden;
    background-color: transparent;
    display: none;
    opacity: 0;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    border-style: hidden;
    z-index: -9999;
  }
}

@keyframes spin {
  0% {
    visibility: visible;
    display: block;
    opacity: 100;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    border-style: solid;
  }
  100% {
    visibility: hidden;
    background-color: transparent;
    display: none;
    opacity: 0;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    border-style: hidden;
    z-index: -9999;
  }
}

.home-header {
  text-align: center;
  padding-top: 1em;
}

.home-header > .home-heading-logo {
  -webkit-box-shadow: 0px 5px 5px #DDDDDD;
          box-shadow: 0px 5px 5px #DDDDDD;
}

.home-header > .home-heading-logo > .home-logo {
  margin-bottom: 1em;
  width: 45%;
  margin-bottom: 0.5em;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .home-header > .home-heading-logo > .home-logo {
    width: 25%;
  }
}

@media screen and (min-width: 1025px) {
  .home-header > .home-heading-logo > .home-logo {
    width: 25%;
  }
}

.home-header > .localisation-box {
  text-align: center;
  background-color: #EAEAEA;
  padding: 1em 0em;
  position: relative;
  z-index: -5;
}

.home-header > .localisation-box > .fa-map-marker-alt {
  font-size: 1em;
  margin-left: 3em;
}

.home-header > .localisation-box > .search-box {
  border-style: none;
  font-family: Roboto, sans-serif;
  background-color: #EAEAEA;
  margin-left: 0.5em;
  font-size: 1em;
  font-family: Roboto, sans-serif;
  margin-left: 0.5em;
}

.home-title {
  padding: 2em 2em;
  text-align: center;
  background-color: #f6f6f6;
  font-size: 1.2em;
}

.home-title > h2 {
  font-size: 0.7em;
  font-weight: 200;
  letter-spacing: 0.1em;
}

.cta {
  border: none;
  border-radius: 50px;
  margin: 1em;
  padding: 1em;
  background: linear-gradient(346deg, #9356dc 28%, #ff79da 78%);
  font-size: 1em;
  color: #fff;
  cursor: pointer;
  -webkit-box-shadow: 4px 5px 10px #CECECD;
          box-shadow: 4px 5px 10px #CECECD;
}

.cta.cta-restaurant {
  margin: 0em 7em 2em 7em;
  padding: 1em 2.5em;
  font-weight: bold;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .cta.cta-restaurant {
    margin: 0 40% 5% 40%;
  }
}

@media screen and (min-width: 1025px) {
  .cta.cta-restaurant {
    margin: 0 45% 5% 45%;
  }
}

.fonctionnement {
  padding: 2em 1em 3em 1em;
  display: block;
}

.fonctionnement h2 {
  margin-bottom: 1.5em;
}

@media screen and (min-width: 1025px) {
  .fonctionnement h2 {
    margin-left: 2em;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .fonctionnement h2 {
    margin-left: 2em;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .fonctionnement .fonctionnement-procedure-boxes {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin: auto 10% auto 10%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1025px) {
  .fonctionnement .fonctionnement-procedure-boxes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.fonctionnement .fonctionnement-procedure-boxes > .procedure-boxes {
  background-color: #f6f6f6;
  border-radius: 15px;
  padding: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2em auto;
  width: 16em;
  -webkit-box-shadow: 4px 5px 10px #CECECD;
          box-shadow: 4px 5px 10px #CECECD;
}

.fonctionnement .fonctionnement-procedure-boxes > .procedure-boxes > .procedure-numbers {
  position: absolute;
  border-radius: 100px;
  background-color: #9356DC;
  margin-top: 0.5em;
  margin-left: -1.5em;
}

.fonctionnement .fonctionnement-procedure-boxes > .procedure-boxes > .procedure-numbers > p {
  height: 0em;
  width: 1.9em;
  text-align: center;
  position: relative;
  top: -0.5em;
  color: #fff;
}

.fonctionnement .fonctionnement-procedure-boxes > .procedure-boxes > .procedure-icons {
  margin: 1em 1em 0em 1.5em;
  color: #7D7C7D;
}

.fonctionnement .fonctionnement-procedure-boxes > .procedure-boxes > .procedure-icons .fa-mobile-alt {
  margin-right: 0.3em;
}

.fonctionnement .fonctionnement-procedure-boxes > .procedure-boxes > .procedure-text {
  font-weight: 500;
}

#restaurant {
  display: block;
  padding: 2em 1em;
  background-color: #f6f6f6;
}

#restaurant h2 {
  margin-bottom: 1.5em;
}

@media screen and (min-width: 1025px) {
  #restaurant h2 {
    margin-left: 2em;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  #restaurant h2 {
    margin-left: 2em;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  #restaurant > .restaurant-box {
    text-align: center;
  }
}

@media screen and (min-width: 1025px) {
  #restaurant > .restaurant-box {
    text-align: center;
  }
}

#restaurant > .restaurant-box > .restaurant-choice {
  margin: 1em auto 2em auto;
  display: block;
  width: 21em;
  height: 16em;
  border-radius: 20px;
  -webkit-box-shadow: 4px 5px 10px #CECECD;
          box-shadow: 4px 5px 10px #CECECD;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  #restaurant > .restaurant-box > .restaurant-choice {
    display: inline-block;
    margin: 2%;
  }
}

@media screen and (min-width: 1025px) {
  #restaurant > .restaurant-box > .restaurant-choice {
    display: inline-block;
    margin: 1% 6%;
  }
}

#restaurant > .restaurant-box > .restaurant-choice > .img-home-restaurant {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 60%;
     object-position: 50% 60%;
  width: 100%;
  height: 11em;
  border-radius: 20px 20px 0px 0px;
}

#restaurant > .restaurant-box > .restaurant-choice .restaurant-heading {
  margin: 1em 0.5em 0em 1em;
  font-weight: 700;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  #restaurant > .restaurant-box > .restaurant-choice .restaurant-heading {
    text-align: left;
  }
}

@media screen and (min-width: 1025px) {
  #restaurant > .restaurant-box > .restaurant-choice .restaurant-heading {
    text-align: left;
  }
}

#restaurant > .restaurant-box > .restaurant-choice .restaurant-subheading {
  margin: 0.3em 0.5em 0.5em 1em;
  font-weight: 300;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  #restaurant > .restaurant-box > .restaurant-choice .restaurant-subheading {
    text-align: left;
  }
}

@media screen and (min-width: 1025px) {
  #restaurant > .restaurant-box > .restaurant-choice .restaurant-subheading {
    text-align: left;
  }
}

#restaurant .img-home-restaurant {
  cursor: pointer;
}

#restaurant .menu-link {
  text-decoration: none;
  color: #000;
}

#restaurant .new-restaurant-box {
  position: relative;
  background-color: #99E2D0;
  padding: 0.1em 0.5em;
  font-size: 1em;
  border-radius: 3px;
  width: 5em;
  height: 2em;
  margin: -14em 0em 0em 14.5em;
  text-align: center;
}

#restaurant .new-restaurant-box p {
  margin: 0.5em;
  font-size: 1em;
  color: #038C65;
}

#restaurant .heart {
  position: relative;
  margin: -2.5em 0em 0em 18em;
  cursor: pointer;
}

#restaurant .heart.heart-box {
  margin: 9em 0em 0em 18em;
}

#restaurant .heart .fa-heart {
  font-size: 1.5em;
  cursor: pointer;
}

#restaurant .heart .fa-heart:hover {
  visibility: hidden;
}

#restaurant .heart .fa-heart .fas {
  font-size: 1em;
  cursor: pointer;
  position: absolute;
  left: 0em;
  color: transparent;
}

@media screen and (min-width: 1025px) {
  #restaurant .heart .fa-heart .fas {
    left: 0.5em;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  #restaurant .heart .fa-heart .fas {
    left: 0.5em;
  }
}

#restaurant .heart .fa-heart .fas:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#9356dc), to(#ff79da));
  background: linear-gradient(to bottom, #9356dc 0%, #ff79da 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: color 2s;
          animation: color 2s;
  visibility: visible;
}

.footer {
  display: block;
  padding: 1em 4em;
  background-color: #353535;
  color: #fff;
}

.footer h3 {
  margin: 1.5em 11.5em 1.5em -2em;
  font-family: 'Shrikhand';
}

@media screen and (min-width: 1025px) {
  .footer h3 {
    margin-left: 2em;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .footer h3 {
    margin-left: 2em;
  }
}

.footer .footer-menu ul {
  display: block;
}

@media screen and (min-width: 1025px) {
  .footer .footer-menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.footer .footer-menu .footer-list {
  list-style-type: none;
  margin: 1em 2em 1em -4.5em;
}

@media screen and (min-width: 1025px) {
  .footer .footer-menu .footer-list {
    margin: -3em 2em 1em 1em;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .footer .footer-menu .footer-list {
    margin-left: 0em;
  }
}

.footer .footer-menu .footer-list > .fa-utensils {
  margin-right: 1em;
}

.footer .footer-menu .footer-list > .fa-hands-helping {
  margin-right: 1em;
  font-size: 0.8em;
}

.restaurant-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.restaurant-header i {
  width: 20%;
  font-size: 1.5em;
  padding: 1em 0em 1em 1em;
  text-decoration: none;
  color: #000;
}

@media screen and (min-width: 1025px) {
  .restaurant-header i {
    padding-top: 1.2em;
  }
}

.restaurant-header .restaurant-heading-logo {
  width: 40%;
  padding: 1.5em 1em 1em 4.5em;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .restaurant-header .restaurant-heading-logo {
    text-align: center;
    margin: auto 19%;
  }
}

@media screen and (min-width: 1025px) {
  .restaurant-header .restaurant-heading-logo {
    margin: auto 33%;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    width: 30%;
  }
}

.restaurant-header .restaurant-heading-logo > .restaurant-logo {
  width: 60%;
}

.heading-restaurant-img {
  width: 100%;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .heading-restaurant-img {
    height: 24em;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 50% 62%;
       object-position: 50% 62%;
  }
}

@media screen and (min-width: 1025px) {
  .heading-restaurant-img {
    height: 30em;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 50% 62%;
       object-position: 50% 62%;
  }
}

.restaurant-menu {
  background-color: #f6f6f6;
  border-radius: 40px 40px 0px 0px;
  position: relative;
  padding: 1em 1em;
  margin: -4em auto 0 auto;
}

.restaurant-menu .heading-restaurant-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.restaurant-menu .heading-restaurant-menu h2 {
  font-family: 'Shrikhand';
  font-size: 2em;
  font-weight: 100;
  margin-left: 0.5em;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .restaurant-menu .heading-restaurant-menu h2 {
    margin-left: 1.5em;
  }
}

@media screen and (min-width: 1025px) {
  .restaurant-menu .heading-restaurant-menu h2 {
    margin-left: 2em;
    font-size: 3em;
  }
}

.restaurant-menu .heading-restaurant-menu .heart {
  position: relative;
  margin-top: 2em;
  margin-right: 1em;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .restaurant-menu .heading-restaurant-menu .heart {
    margin-right: 4em;
  }
}

@media screen and (min-width: 1025px) {
  .restaurant-menu .heading-restaurant-menu .heart {
    margin-right: 7em;
    margin-top: 4em;
  }
}

.restaurant-menu .heading-restaurant-menu .heart .fa-heart {
  font-size: 2em;
  cursor: pointer;
}

.restaurant-menu .heading-restaurant-menu .heart .fa-heart:hover {
  visibility: hidden;
}

.restaurant-menu .heading-restaurant-menu .heart .fa-heart .fas {
  font-size: 1em;
  cursor: pointer;
  position: absolute;
  left: 0em;
  color: transparent;
}

.restaurant-menu .heading-restaurant-menu .heart .fa-heart .fas:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#9356dc), to(#ff79da));
  background: linear-gradient(to bottom, #9356dc 0%, #ff79da 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: color 2s;
          animation: color 2s;
  visibility: visible;
}

@media screen and (min-width: 1025px) {
  .restaurant-menu .responsive-menu-laptop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .restaurant-menu .responsive-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1025px) {
  .restaurant-menu .responsive-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
}

.restaurant-menu .menu {
  margin-bottom: 3em;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .restaurant-menu .menu {
    width: 90%;
  }
}

@media screen and (min-width: 1025px) {
  .restaurant-menu .menu {
    width: 100%;
  }
}

.restaurant-menu .menu h3 {
  text-transform: uppercase;
  font-weight: 200;
  font-size: 1.1em;
  padding-bottom: 0.3em;
  border-bottom: solid #99E2D0 0.2em;
  width: 15%;
  margin-left: 1em;
}

.restaurant-menu .menu .submenu {
  background-color: #FFFFFF;
  border-radius: 15px;
  padding: 0em 1em;
  margin: 1.5em auto;
  width: 85%;
  -webkit-box-shadow: 4px 5px 10px #CECECD;
          box-shadow: 4px 5px 10px #CECECD;
}

.restaurant-menu .menu .submenu:hover .check-rotate-animation {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.restaurant-menu .menu .submenu:hover .rotate-icon-animation {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .restaurant-menu .menu .submenu {
    width: 80%;
  }
}

.restaurant-menu .menu .submenu h4 {
  padding-top: 1em;
  margin: 1em 0em 0em 0em;
  font-weight: 600;
  font-size: 1.1em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .restaurant-menu .menu .submenu h4 {
    margin-top: 0em;
  }
}

.restaurant-menu .menu .submenu .submenu-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.restaurant-menu .menu .submenu .submenu-detail p {
  font-size: 0.95em;
  font-weight: 200;
  margin-top: 0.5em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.restaurant-menu .menu .submenu .submenu-detail .submenu-prix {
  text-overflow: clip;
  font-weight: 600;
  margin-right: 0.5em;
}

.restaurant-menu .menu .submenu .check-rotate-animation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #99E2D0;
  width: 20%;
  border-radius: 0px 15px 15px 0px;
  -webkit-transform-origin: right;
  transform-origin: right;
  -webkit-transform: scaleX(0);
  transform: scaleX(1);
  -webkit-transition: -webkit-transform 300ms 100ms linear;
  transition: -webkit-transform 300ms 100ms linear;
  transition: transform 300ms 100ms linear;
  transition: transform 300ms 100ms linear, -webkit-transform 300ms 100ms linear;
  transition: transform 300ms 100ms linear,  -webkit-transform 300ms 100ms linear;
}

.restaurant-menu .menu .submenu .check-rotate-animation .rotate-icon-animation {
  font-size: 2em;
  color: #fff;
  margin: auto;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: -webkit-transform 300ms 100ms linear;
  transition: -webkit-transform 300ms 100ms linear;
  transition: transform 300ms 100ms linear;
  transition: transform 300ms 100ms linear, -webkit-transform 300ms 100ms linear;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .restaurant-menu .menu-dessert {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: auto auto;
    width: 90%;
  }
}

@media screen and (min-width: 1025px) {
  .restaurant-menu .menu-dessert {
    width: 53%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .restaurant-menu .menu-dessert .dessert-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .restaurant-menu .menu-dessert .submenu-dessert {
    width: 30%;
    margin: 1% 1% 5% auto;
  }
}

@-webkit-keyframes check {
  0% {
    -webkit-transform: translateX(-9999);
            transform: translateX(-9999);
    visibility: hidden;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    visibility: visible;
  }
}

@keyframes check {
  0% {
    -webkit-transform: translateX(-9999);
            transform: translateX(-9999);
    visibility: hidden;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    visibility: visible;
  }
}

@-webkit-keyframes color {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes color {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */