/* Mise en page générale */
html, body {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
    font-family: Roboto, sans-serif;
    width: 100%;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    overflow-x: hidden;
}

// Breakpoints
$breakpoints: ( mobile: 767px, min-tablette: 768px, max-tablette: 1180px, laptop: 1181px );

// Variables de couleurs
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-localization: #EAEAEA;
$color-background: #f6f6f6;
$color-footer: #353535;
$color-hover: #F4EDFF;
$color-background-menu: #FFFFFF;
$gradient: linear-gradient(346deg, rgba(147,86,220,1) 28%, rgba(255,121,218,1) 78%);
$gradient-hover: linear-gradient(346deg, rgba(147,86,220,0.9) 28%, rgba(255,121,218,0.9) 78%);;
$check-transition-width: 70px;
$color-primary-transparency : rgba(147, 86, 220, 0.2);

@font-face {
    font-family: 'Shrikhand';
    src: url('font/Shrikhand/Shrikhand-Regular.ttf') format(truetype);
}

@mixin mobile-only {
    @media screen and (max-width:map-get($breakpoints, mobile)){
        @content;
    }
}
// mixin tablette-only
@mixin tablette-only {
    @media screen and (min-width:map-get($breakpoints, min-tablette)) and (max-width:map-get($breakpoints, max-tablette)){
        @content;
    }
}

// mixin tablette-only
@mixin laptop-only {
    @media screen and (min-width:map-get($breakpoints, laptop)){
        @content;
    }
}

//mixin box-shadow
@mixin card-shadow {
    box-shadow: 4px 5px 10px #CECECD;
}

@mixin card-shadow-hover{
    box-shadow: 5px 7px 12px #CECECD;
}


@mixin check-transition-timing($type){
    transition: $type 300ms 100ms linear;
}


// Loader
.loader{
    position:fixed;
    width:100%;
    height: 100%;
    left:0;right:0;top:0;bottom:0;
    background-color: rgba(255,255,255,0.7);
    z-index:9999; 
    visibility: hidden;
    animation: loader 3s linear;

    .spin{
        position:absolute;
        left:48%;top:40%;
        width:40px;height:40px;
        border-color: $color-primary;
        border-top-color:transparent;
        border-width: 4px;
        border-radius:50%;
        animation: spin 5s linear;
    }
    
}

@keyframes loader{
    0%{
        visibility: visible;
    }
    100%{
        visibility: hidden;
    }
}

@keyframes spin{
        0%{
            visibility: visible;
            display: block;
            opacity: 100;
            transform: rotate(0deg);
            border-style: solid;
        }
        100%{
            visibility: hidden;
            background-color: transparent;
            display: none;
            opacity: 0;
            transform: rotate(1080deg);
            border-style: hidden;
            z-index: -9999;
        }
}
    
// Header Page d'acceuil
.home-header{

    text-align: center;
    padding-top: 1em;

    &>.home-heading-logo{
            box-shadow: 0px 5px 5px #DDDDDD;
        
        &>.home-logo{
            margin-bottom: 1em;
            width: 45%;
            margin-bottom: 0.5em;

            @include tablette-only(){
                width: 25%;
            }

            @include laptop-only(){
                width: 25%;
            }
        }
    }

    &>.localisation-box{
        text-align: center;
        background-color: #EAEAEA;
        padding: 1em 0em;
        position: relative;
        z-index: -5;

      &>.fa-map-marker-alt{ 
            font-size: 1em;
            margin-left: 3em;
        }  


      &>.search-box{
          border-style: none;
          font-family: Roboto, sans-serif;
          background-color: #EAEAEA;
          margin-left: 0.5em;

            font-size: 1em;
            font-family: Roboto, sans-serif;
            margin-left: 0.5em;
      }
    }
}

// Grand titre et CTA
.home-title{
    padding: 2em 2em;
    text-align: center;
    background-color: $color-background;
    font-size: 1.2em;
    &>h2{
        font-size: 0.7em;
        font-weight: 200;
        letter-spacing: 0.1em;
    }
}

// Boutons CTA - Explorer & Commande
.cta{
    border: none;
    border-radius: 50px;
    margin: 1em;
    padding: 1em 1.3em;
    background: $gradient;
    // background: linear-gradient(346deg, rgba(147,86,220,1) 28%, rgba(255,121,218,1) 78%);
    font-size: 1em;
    color: #fff;
    cursor: pointer;
    @include card-shadow();

    &:hover{
        background: $gradient-hover;
        @include card-shadow-hover();
    }

    &.cta-restaurant{
        margin: 5% 23% 10% 23%;
        padding: 1em 2.5em;
        font-weight: bold;

        @include tablette-only(){
            margin: 5% 40% 5% 40%;
        }

        @include laptop-only(){
            margin: 1% 45% 6% 45%;
        }
    }
}

// Fonctionnement
.fonctionnement{
    padding: 2em 1em 3em 1em;
    display: block;

    h2{
        margin-bottom: 1.5em;

        @include laptop-only(){
            margin-left: 2em;
        }

        @include tablette-only(){
            margin-left: 2em;
        }
    }

    .fonctionnement-procedure-boxes{

        @include tablette-only(){
            display: inline-flex;
            margin: auto 10% auto 10%;
            flex-wrap: wrap;
        }

        @include laptop-only(){
            display: flex;
        }

        &>.procedure-boxes{
            background-color: $color-background;
            border-radius: 15px;
            padding: 0.5em;
            display: flex;
            margin: 2em auto;
            width: 16em;
            @include card-shadow();

            @include mobile-only(){
                width: 18em;
            }

            @include tablette-only(){
                display: inline-flex;
                width: 18em;
                flex-wrap: wrap;
            }

            &:hover{
                cursor: pointer;
                background-color: $color-primary-transparency;
                .procedure-icons{
                    color: #9356DC;
                }
            }

            &>.procedure-numbers{
                position: absolute;
                border-radius: 100px;
                background-color: $color-primary;
                margin-top: 0.5em;
                margin-left: -1.5em;

                &>p{
                    height: 0em;
                    width: 1.9em;
                    text-align: center;
                    position: relative;
                    top: -0.5em;
                    color: #fff;
                }
        }

        &>.procedure-icons{
            margin: 1em 1em 0em 1.5em;
            color: #7D7C7D;

            .fa-mobile-alt{
                margin-right: 0.3em;
            }
        }

        &>.procedure-text{
            font-weight: 500;
        }
    }
    }
}

// Restaurants
#restaurant{
    display: block;
    padding: 2em 1em;
    background-color: $color-background;
    
    h2{
        margin-bottom: 1.5em;

        @include laptop-only(){
            margin-left: 2em;
        }

        @include tablette-only(){
            margin-left: 2em;
        }
    }

    &>.restaurant-box{
        @include tablette-only(){
            text-align: center;
        }

        @include laptop-only(){
            text-align: center;
        }

        &>.restaurant-choice{
        margin: 1em auto 2em auto;
        display: block;
        width: 21em;
        height: 16em;
        border-radius: 20px;
        @include card-shadow();

        @include tablette-only(){
            display: inline-block;
            margin: 2%;
        }

        @include laptop-only(){
            display: inline-block;
            margin: 1% 6%;
        }
        
            &>.img-home-restaurant{
                object-fit: cover;
                object-position: 50% 60%;
                width: 100%;
                height: 11em;
                border-radius: 20px 20px 0px 0px;
            }

            .restaurant-heading{
                margin: 1em 0.5em 0em 1em;
                font-weight: 700;

                @include tablette-only(){
                    text-align: left;
                }

                @include laptop-only(){
                    text-align: left;
                }
                
            }

            .restaurant-subheading{
                margin: 0.3em 0.5em 0.5em 1em;
                font-weight: 300;
                
                @include tablette-only(){
                    text-align: left;
                }

                @include laptop-only(){
                    text-align: left;
                }
            }
        }
    }

    

    .img-home-restaurant{
        cursor: pointer;
    }

    .menu-link{
        text-decoration: none;
        color: #000;
    }

    .new-restaurant-box{
        position: relative;
        background-color: $color-tertiary;
        padding: 0.1em 0.5em;
        font-size: 1em;
        border-radius: 3px;
        width: 5em;
        height: 2em;
        margin: -14em 0em 0em 14.5em;
        text-align: center;

        p{
            margin: 0.5em;
            font-size: 1em;
            color: #038C65;
        }
    }

    .heart{
        position: relative;
        margin: -2.5em 0em 0em 18em;
        cursor: pointer;

        &.heart-box{
            margin: 9em 0em 0em 18em;
        }

        .fa-heart{
            font-size: 1.5em;
            cursor: pointer;
        
            &:hover{
                visibility: hidden;
            }

            .fas {
                font-size: 1em;
                cursor: pointer;
                position: absolute;
                left: 0em;
                color: transparent;

                @include laptop-only(){
                    left: 0.5em;
                }

                @include tablette-only(){
                    left: 0.5em;
                }

                &:hover{
                    background: -moz-linear-gradient(top, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 100%); 
                    background: -webkit-linear-gradient(top, rgba(147,86,220,1) 0%,rgba(255,121,218,1) 100%); 
                    background: linear-gradient(to bottom, rgba(147,86,220,1) 0%,rgba(255,121,218,1) 100%);
                    -webkit-background-clip: text;
                    -moz-background-clip: text;
                    background-clip: text; 
                    -webkit-text-fill-color:transparent;
                    animation: color 2s;
                    visibility: visible;
                }
            }
        }

        
    }

}

// Footer
.footer{
    display: block;
    padding: 1em 4em;
    background-color: $color-footer;
    color: #fff;

    h3{
        margin: 1.5em 11.5em 1.5em -2em;
        font-family: 'Shrikhand';

        @include laptop-only(){
            margin-left: 2em;
        }

        @include tablette-only(){
            margin-left: 2em;
        }
    }

    .footer-menu{

        ul{
            display: block;

            @include laptop-only(){
                display: flex;
                justify-content: flex-end;
            }
        }

        .footer-list{
            list-style-type: none;
            margin: 1em 2em 1em -4.5em;

            @include laptop-only(){
                margin: -3em 2em 1em 1em;
            }

            @include tablette-only(){
                margin-left: 0em;
            }

            &>.fa-utensils{
                margin-right: 1em;
            }

            &>.fa-hands-helping{
                margin-right: 1em;
                font-size: 0.8em;
            }
            .contact{
                text-decoration: none;
                color: $color-background-menu;
            }
        }
    }
    
}

// Page restaurant

// Header
.restaurant-header{
    display: flex;

    i{
        width: 20%;
        font-size: 1.5em;
        padding: 1em 0em 1em 1em;
        text-decoration: none;
        color: #000;

        @include laptop-only(){
            padding-top: 1.2em;
        }
    }

    .restaurant-heading-logo{
        width: 70%;
        padding: 1.5em 1em 1em 4.5em;

        @include tablette-only(){
            margin:  auto 20% auto 24%;
        }

        @include laptop-only(){
            margin: auto 33%;
            text-align: center;
            padding-left: 0;
            padding-right: 0;
            width: 30%;
        }

        &>.restaurant-logo{
            width: 60%;

        }
    }
}

// Photo background
.heading-restaurant-img{
    width: 100%;

    &.note-enchantee{
        height: 15em;
        object-fit: cover;
        object-position: 50% 81%;
        @include tablette-only(){
            height: 20em;
            object-position: 50% 75%;
        }
        @include laptop-only(){
            height: 30em;
            object-fit: cover;
            object-position: 50% 62%;
        }
    }

    @include tablette-only(){
        height: 24em;
        object-fit: cover;
        object-position: 50% 62%;
    }

    @include laptop-only(){
        height: 30em;
        object-fit: cover;
        object-position: 50% 62%;
    }
}

// Section Menu
.restaurant-menu{
    background-color: $color-background;
    border-radius: 40px 40px 0px 0px;
    position: relative;
    padding: 1em 1em;
    margin: -4em auto 0 auto;

    .heading-restaurant-menu{
        display: flex;
        justify-content: space-between;

        h2{
            font-family: 'Shrikhand';
            font-size: 2em;
            font-weight: 100;
            margin-left: 0.5em;

            @include tablette-only(){
                margin-left: 1.5em;
            }

            @include laptop-only(){
                margin-left: 2em;
                font-size: 3em;
            }

            &.delice{
                @include mobile-only{
                    font-size: 1.8em;
                    margin-top: 1em;
                }
            }

            &.palette{
                @include mobile-only(){
                    font-size: 1.7em;
                    margin-top: 1.1em;
                }
            }

            &.note{
                @include mobile-only(){
                    font-size: 1.7em;
                    margin-top: 1.1em;
                }
            }

        }

        .heart{
            position: relative;
            margin-top: 2em;
            margin-right: 1em;

            @include tablette-only(){
                margin-right: 4em;
            }
            @include laptop-only(){
                margin-right: 7em;
                margin-top: 4em;
            }

            .fa-heart{
                font-size: 2em;
                cursor: pointer;
            
                &:hover{
                    visibility: hidden;
                }

                .fas {
                    font-size: 1em;
                    cursor: pointer;
                    position: absolute;
                    left: 0em;
                    color: transparent;

                    &:hover{
                        background: -moz-linear-gradient(top, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 100%); 
                        background: -webkit-linear-gradient(top, rgba(147,86,220,1) 0%,rgba(255,121,218,1) 100%); 
                        background: linear-gradient(to bottom, rgba(147,86,220,1) 0%,rgba(255,121,218,1) 100%);
                        -webkit-background-clip: text;
                        -moz-background-clip: text;
                        background-clip: text; 
                        -webkit-text-fill-color:transparent;
                        animation: color 2s;
                        visibility: visible;
                    }
                }
            }
        }
    }



    .responsive-menu-laptop{
        @include laptop-only(){
            display: flex;
            margin-left: 2em;
            width: 95%;
        }
    }

    .responsive-menu{
        @include tablette-only(){
            display: inline-flex;
            justify-content: center;
            flex-wrap: wrap;
        }

        @include laptop-only(){
            display: flex;
            width: 100%;
        }
    }

    .menu{
        margin-bottom: 2em;
        @include tablette-only(){
            width: 50%;
        }

        @include laptop-only(){
            width: 50%;
        }

        h3{
            text-transform: uppercase;
            font-weight: 200;
            font-size: 1.1em;
            padding-bottom: 0.3em;
            border-bottom: solid $color-tertiary 0.2em;
            width: 15%;
            margin-left: 1em;
            
            @include tablette-only(){
                margin-left: 3em;
            }
        }

        .submenu{
            display: flex;
            justify-content: space-between;
            background-color: #FFFFFF;
            margin: 1em auto;
            border-radius: 1rem;
            overflow: hidden;
            padding: 0;
            position: relative;
            width: 100%;
            height: 5em;
            opacity: 0;

            @include card-shadow();

            @include tablette-only(){
                width: 80%;
            }

            @include laptop-only(){
                width: 90%;
            }
             
            @for $i from 1 through (5) {  
                &:nth-child(#{$i}){
                    animation: menu 1s 800ms*$i forwards;
                }
            }

            &_detail{
                width: 75%;
                margin: 0.5em 0em 0.5em 1em;
                transform: scaleX(1);
                transform-origin: left;
                justify-content: space-between;
            
                @include check-transition-timing(width);
                
                .submenu_title{
                    font-weight: 600;
                    font-size: 1.1rem;
                    margin-bottom: 5px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                p{
                    font-size: 0.95em;
                    font-weight: 200;
                    margin-top: 0.5em;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }   
                
            }

            &:hover .submenu_title{
                cursor: pointer;
                width: 80%;
                @include check-transition-timing(width);
            }&:hover p{
                cursor: pointer;
                width: 80%;
                @include check-transition-timing(width);
            }

            &_prix{
                align-self: flex-end;
                font-weight: 700;
                position: absolute;
                right: 1em;
                bottom: 1em;
                transform-origin: right;
                @include check-transition-timing(transform);
            }   

            .check-rotate-animation{
                display: flex;
                background-color: $color-tertiary;
                width: $check-transition-width;
                transform-origin: right;
                transform: scaleX(0);
                @include check-transition-timing(transform);
                
                .rotate-icon-animation{
                    color: #FFFFFF;
                    font-size: 1.6rem;
                    margin: auto;
                    transform: rotate(0deg);
                    @include check-transition-timing(transform);
                }
            }
            
            &:hover{
                cursor: pointer;
            }
            &:hover .check-rotate-animation{
                transform: scaleX(1);
            }
            &:hover .rotate-icon-animation{
                transform: rotate(-360deg);
            }
            &:hover .submenu_prix{
                transform: translateX(-$check-transition-width);
            }
        }
        
    }

    .menu-dessert{
        @include tablette-only(){
            display: flex;
            flex-direction: column;
            margin: auto auto;
            width: 90%;
        }

        @include laptop-only(){
            width: 50%;
        }
        h3{
            @include tablette-only(){
                margin: auto 66% 1.5% 28%;
                width: 10%;
            }
        }

        .submenu-dessert{
            @include tablette-only(){
                width: 45%;
                margin: 0.5em auto;
            }

            .submenu-detail{
                @include tablette-only(){
                    width: 65%;
                }
                
            }
        }
        
    }

}

// animation menu transparence
@keyframes menu{
    0%{ opacity: 0; transform: translateY(20px);}
    50%{ opacity: 0.5;}
    100%{ opacity: 1; transform: translateY(0);}
}