// Variables de couleurs
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-localization: #EAEAEA;
$color-background: #f6f6f6;
$color-footer: #353535;
$color-hover: #F4EDFF;
$color-background-menu: #FFFFFF;
$gradient: linear-gradient(346deg, rgba(147,86,220,1) 28%, rgba(255,121,218,1) 78%);
$gradient-hover: linear-gradient(346deg, rgba(147,86,220,0.9) 28%, rgba(255,121,218,0.9) 78%);;
$check-transition-width: 70px;
$color-primary-transparency : rgba(147, 86, 220, 0.2);